@inherits TagReporter.Layouts.LoginLayoutComponent

<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>

<RadzenBody ref="@body0" style="margin-left: 0" Expanded="true">
    <ChildContent>
        <div class="row justify-content-center">
            <div class="justify-content-center col-xl-5 col-md-7">
                <RadzenCard style="margin-top: 8rem">
                    @Body
                </RadzenCard>
            </div>
        </div>
    </ChildContent>
</RadzenBody>